{% extends "layout.html" %}
{% block content %}
<div class="row g-8">
    <div class="py-9 text-center">
        <div class="card mx-auto" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">SEGUNDO PARCIAL TEM-742</h5>
              <h5 class="card-title">NOMBRE: {{ estudiante }}</h5>
              <h5 class="card-title">CARNET: {{ ci }}</h5>
            </div>
        </div>
        <h3 class="mb-3">Tienda de productos</h3>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Aplicación Web para gestionar productos de una tienda.</p>
        </div>
        <div class="table table-bordered">
            <a href="{{ url_for('agregar')}}" class="btn btn-outline-success btn-lg">Agregar</a>
        </div>
        
        {% if lista %}
        <div class="overflow-hidden col-lg-8 mx-auto">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Fecha de Vencimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.precio }}</td>
                        <td>{{ item.categoria}}</td>
                        <td>{{ item.fecha }}</td>
                        <td>
                            <a href="{{ url_for('editar', nombre=item.nombre, cantidad=item.cantidad, precio=item.precio, categoria=item.categoria, fecha=item.fecha) }}">Editar</a>
                        </td>
                        <td>
                            <a href="{{ url_for('eliminar',item=item) }}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
        <div class="table table-bordered">
            <a href="{{ url_for('vaciar')}}" class="btn btn-outline-danger btn-lg">Vaciar</a>
        </div>
        {% else %}
        <div class="overflow-hidden col-lg-8 mx-auto">
            <div class="alert alert-success" role="alert">
                <p>Lista vacia, agregar registro por favor.</p>
            </div>
        </div>
        {% endif %}
            
        
    </div>
    
</div>
{% endblock %}